.exercise-container {
	position: relative;
	width: 100%;

	background-color: pink;
	box-sizing: border-box;
	padding: 20px;
}

.exercise-name {
	float: left;
	margin-right: 30px;
}

.sets-list-container {
	display: block;
	background-color: white;
	height: 50px;
	width: 100%;
	margin-top: 30px;
}

.add-set-button {
	position: relative;
	margin-left: 20px;
}
